@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);:root {
  /*------------------------------
          COLORS
  ------------------------------*/
  --primary-color: #0282f9;
  --secondary-color: #1c1c1c;
  --tertiary-color: #303030;
  /*------------------------------
           CONTAINERS
   ------------------------------*/
  --container-md: 100rem;
  --container-sm: 92.5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  background-color: var(--primary-color);
}

.top-header-content {
  text-align: end;
  color: white;
  padding: 0.3125rem;
}
.top-header-content span {
  margin-left: 2.25rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.main-header-right {
  font-weight: bold;
}
.main-header ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
.main-header a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.main-header input {
  font-size: 16px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: end;
  border: none;
  border-bottom: 3px solid var(--primary-color);
}

/*-------------------------
    Sezione footer top
--------------------------*/
.footer-top {
  height: 32.5rem;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container-footer-middle {
  display: flex;
  justify-content: space-between;
}

.contact-lists {
  display: flex;
  height: 40rem;
  gap: 3rem;
  align-items: flex-start;
  font-size: 1.15rem;
}

.col-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  color: #698887;
}

.col-ul-title {
  color: white;
  margin: 1.25rem 0;
}

.logo-big img {
  height: 50rem;
  margin: -9rem 0 0 0;
}

/*------------------------------
    Sezione footer bottom
--------------------------------*/
.bottom-footer {
  height: 10rem;
  background-color: var(--tertiary-color);
}

.container-footer-bottom {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 1.5rem;
}

.social-title {
  color: #0282f9;
}

.sign-up-btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: inherit;
  border: 3px solid #0282f9;
  color: white;
  transition: background-color;
}

.sign-up-btn:hover {
  background-color: #0282f9;
  cursor: pointer;
}

.container {
  margin: auto;
  width: 100%;
  max-width: var(--container-md);
}

.container-small {
  margin: auto;
  width: 100%;
  max-width: var(--container-sm);
}

.hero {
  width: 100%;
  height: 35rem;
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.hero .container h2 {
  color: white;
  background-color: var(--primary-color);
  padding: 15px 25px;
  margin-bottom: -25px;
}

.img-overlay {
  border: 1px solid white;
  position: relative;
  margin-bottom: -3.25rem;
}
.img-overlay p {
  background-color: #00a9d9;
  color: white;
  font-size: 0.75rem;
  padding: 0.1875rem;
  position: absolute;
}
.img-overlay .view-gallery {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.hero-divider {
  height: 4.6875rem;
  background-color: var(--primary-color);
  z-index: 1;
}

.main-home {
  background-color: var(--secondary-color);
  display: flex;
  color: white;
  padding: 60px 0;
}
.main-home .comics-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.main-home .comics-list li {
  width: calc(16.6666666667% - 20px);
  margin: 0 10px;
}
.main-home .main-btn {
  padding: 10px 40px;
  color: white;
  background-color: var(--primary-color);
  border-style: none;
  margin-left: 45%;
  margin-top: 70px;
  transition: all;
}
.main-home .main-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--secondary-color);
}
.main-home .card img {
  width: 100%;
  height: 246px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.main-comic {
  background-color: inherit;
  margin-top: 75px;
  padding: 75px 0;
  min-height: 200px;
}
.main-comic .title-main {
  color: #003f5e;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main-comic .top-main-comic {
  display: flex;
}
.main-comic .top-main-comic .title-side {
  margin-right: 45px;
}
.main-comic .top-main-comic .title-side .price {
  background-color: #55ba59;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 2px solid #357739;
}
.main-comic .top-main-comic .title-side .price-left {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-right: 2px solid #357739;
  padding: 20px 2.1875rem;
  color: white;
}
.main-comic .top-main-comic .title-side .price-left span {
  color: #bafd8b;
}
.main-comic .top-main-comic .title-side .price .availability {
  padding: 20px 2.1875rem;
  color: white;
}
.main-comic .top-main-comic .title-side .description {
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  margin-top: 30px;
}
.main-comic .top-main-comic .adv-side {
  text-align: end;
  font-weight: bold;
  color: #555555;
}

.bottom-main {
  border-top: 1px solid #e3e3e3;
  background-color: #f6f6f6;
  padding: 30px 0 150px 0;
}
.bottom-main .bottom-main-comic {
  display: flex;
}
.bottom-main .bottom-main-comic .title-btm-main {
  color: #003f5e;
  padding-bottom: 1.875rem;
}
.bottom-main .bottom-main-comic hr {
  color: #f6f6f6;
}
.bottom-main .bottom-main-comic .row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.bottom-main .bottom-main-comic .row-text {
  width: 60%;
}
.bottom-main .bottom-main-comic .row span a {
  text-decoration: none;
  color: #00a9da;
}
.bottom-main .bottom-main-comic .talent {
  width: 65%;
  padding-right: 50px;
}
.bottom-main .bottom-main-comic .specs {
  width: 35%;
}

.top-footer {
  height: 20rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

.footer-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.footer-ul li {
  align-items: center;
  gap: 3.5rem;
}

.footer-ul a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 1.5rem;
}